body{
    margin:0;
    font-family:Arial,sans-serif;
    background:#f2f2f2;}


/* HEADER */
.banner{
    background:#111;
    color:white;
    text-align:center;
    padding:25px;}
.logo{
    width:90px;
    border-radius:50%;}


/* TITULOS */
.titulo{
    text-align:center;
    margin-top:30px;
    color:#111;}


/* PRODUCTOS Y CATEGORIAS */
.contenedor-productos,.categorias{
    display:grid;
    grid-template-columns:    repeat(auto-fit,minmax(160px,1fr));
    gap:15px;
    padding:20px;}


/* TARJETAS */
.producto,.categoria{
    background:white;
    border-radius:15px;
    overflow:hidden;
    text-align:center;
    box-shadow:0 2px 10px rgba(0,0,0,0.2);
    padding-bottom:15px;}


/* IMAGENES */
.producto img,.categoria img{
    width:100%;
    height:140px;
    object-fit:cover;}


/* TEXTOS */
.producto h2,.categoria h2{
    font-size:18px;
    margin:10px 0;}
.producto p{
    font-size:16px;}


/* BOTONES */
button{
    background:#25D366;
    color:white;
    border:none;
    padding:8px 14px;
    border-radius:8px;
    cursor:pointer;
    font-size:14px;}


/* FOOTER */
footer{
    background:#111;
    color:white;
    text-align:center;
    padding:20px;
    margin-top:30px;}


/* RESPONSIVE */
@media(max-width:600px){
    .contenedor-productos,    .categorias{
        grid-template-columns:        repeat(auto-fit,minmax(140px,1fr));    }
}
